@import url('https://fonts.googleapis.com/css?family=Coda');

.g{
  position: relative;
  height: 60%;
  float: right;
  top: 20%;
  width: calc(100% - 80px);
}

.k{
  position: relative;
  height: 100%;
  width: 50%;
  float: left;
  color: rgb(184, 191, 207);
/*
  padding-left: 5%;
  padding-top: 5%;
*/
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

.blue_faded{
    position: relative;
    margin: 0 5%;
    width: 90%;
    /* height: 100%; */
    box-shadow: 0px 0 20px 0px black;
    background-color: #0a4575;
    padding: 10px;
    opacity: .8;
    color:  white;
    animation: 1s ease-out 0s 1 slideInFromRight;
}

#profile {
    position: absolute;
    top: 10%;
    left: 10%;
}


.profile_pic {
  width: 180px;
  padding: 10px;
  box-shadow: 0px 0 10px 0px black;
}

.btn {
  width: 180px;
  background-color:#0a4575;
  border: none;
  opacity: 0.8;
  color: rgb(229, 241, 255);
  cursor: pointer;
  box-shadow: 0px 0 10px 0px black;
}
  
.btn:hover {
  background-color:#5badf1;
}

h1 {
  font-family: 'Coda', cursive;
  color: #5badf1;
  font-weight: bold;
}

.descrpn {
    align-content: center;
    padding: 10px;
}

/*MEDIA QUERIES*/

/*Tablets*/

@media screen and (max-width: 768px){
    .g{
      position: relative;
      height: 100%;
      float: right;
      top: 0;
      width: calc(100% - 80px);
      }

    .k{
        height: 50%;
        width: 100%;
      }

    #profile {
      position: absolute;
      top: 5%;
      left: calc(50% - 100px);
    }

}

/*Mobiles*/

@media screen and (max-width: 480px){   
  body {
      overflow: scroll; 
  }
  
  .h{
      width: 100%;
      position: absolute;
      overflow: hidden;
      background: #081927;
      height: auto;
  }
   
  .g{
      position: relative;
      height: 100%;
      float: right;
      top: 50px;
      width: 100%;
  }
  
  .blue_faded {
    top: 5%;
  }
}
