.g{
    position: relative;
    height: 60%;
    float: right;
    top: 20%;
    width: calc(100% - 80px);
}


.k{
    /* position: relative; */
    height: 100%;
    width: 50%;
    float: left;
    color: rgb(184, 191, 207);
}

.wc_msg{
    position: relative;
    top:15%;
    width: 90%;
    padding-left: 10%;
}

/*MEDIA QUERIES*/

/*Tablets*/

@media screen and (max-width: 768px){
    .k{
        height: 50%;
        width: 100%;
    }
}


/*Mobiles*/

@media screen and (max-width: 480px){ 
    body {
        overflow: scroll; 
    }

    .g{
        position: relative;
        height: 100%;
        float: right;
        top: 50px;
        width: 100%;
    }

    .k{
        height: auto;
        width: 100%;
    }
}