.g{
    position: relative;
    height: 60%;
    float: right;
    top: 20%;
    width: calc(100% - 80px);
}


.k{
       /* position: relative; */
        height: 100%;
        width: 50%;
        float: left;
        color: rgb(184, 191, 207);
}

/*MEDIA QUERIES*/

/*Tablets*/

@media screen and (max-width: 768px){
    .k{
        height: 50%;
        width: 100%;
    }
}


/*Mobiles*/

@media screen and (max-width: 480px){ 
    body {
        overflow: scroll; 
    }
    
    .k{
        height: 50%;
        width: 100%;
    }
}