html,body{
    height: 100%;
    width: 100%;
    margin: 0;
}

body {
    overflow: hidden;
    display: block;
    background-color: #062843;
    background-size: cover;
}

.h{
    height: 100%;
    width: 80px;
    position: absolute;
}


.a {
    float: left;
}

nav .nav-sidebar{
    position: absolute;
    top: 35%;
}

.fas, .fab, .far {
    color: #0a4575;
    font-size: 20px;
}

.fas:hover, .fab:hover, .far:hover {
    color: #5badf1;
}

ul{
    list-style-type: none; 
}

nav .contactbar{
    position: absolute;
    bottom: 2%;    
}

.h{
    height: 100Vh;
}

.blue{
    background-color: #081927;
    z-index: 1
}


/*MEDIA QUERIES*/

/*Tablets*/


/*Mobiles*/

@media screen and (max-width: 480px){   
    body {
        overflow: scroll; 
    }

    .h{
        width: 100%;
        position: absolute;
        overflow: hidden;
        background: #081927;
        height: auto;
    }
     
    .g{
        position: relative;
        height: 100%;
        float: right;
        top: 50px;
        width: 100%;
    }
    
    .k{
        height: 50%;
        width: 100%;
    }
    
    nav {
        position: absolute;
        top: 0%;
        left: 50px;
        width: 90%;
        float: right;
    }
    
    .nav-sidebar {
        margin-top: 5px;
        width: 85%;
        float: right;
    }
    
    .nav-sidebar li {
        float: left;
        list-style-type: none;
/*        margin: 10px 10px;*/
/*        margin-left: 5px;*/
        width: 25%;
        text-align: center;
    }
    .burger-nav{
        float: right;
    }
}
